body {
  margin: 0;
}

.jumbotron {
  background-color: #e9ecef;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid;
  margin: 0;
  border-radius: 0;
  border-color: var(--primary);
  color: var(--info);
}
p {
  font-size: larger;
}

.top10-banner {
  display: flex;
  justify-content: center;
  color: var(--info);
  margin-top: 15px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}

.table {
  width: 60%;
  max-width: 100%;
  text-align: center;
  border: solid;
  border-color: var(--primary);
}

.jumbotron img {
  margin: auto;
  max-width: 100%;
}
