body {
  margin: 0;
}

.jumbotron {
  text-align: center;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--info);
  color: var(--white);
  border-radius: 0;
  border: none;
  margin-bottom: 0 !important;
}
p {
  font-size: larger;
}
