body {
  margin: 0;
}

.jumbotron {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--info);
  color: var(--white);
  border-radius: 0;
  border: none;
}
p {
  font-size: larger;
}
